<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/vkdownloader.css">
    <script type="text/javascript" src="/static/js/vkdownloader.js"></script>
    <title>VK Photo Downloader</title>
</head>
<body>
<header>
    <div id="tasksctl">
        <button id="controlbtn">START</button>
        <span id="statusbar">undefined</span>
    </div>
</header>
<main>
    {{block "content" .}} no content {{end}}
</main>
<footer>
    <br><br><br><br><br>
    <hr>
    Site created using <strong>Golang</strong>
</footer>
</body>
</html>
